<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Page Not Found</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <div class="text-center">
      <body style="margin: 0px; background: #0e0e0e; height: 100%">
        <img src="https://http.cat/404" class="rounded">
    </div>
</html>